            /* Body */
body {
  font-family: "Montserrat";
  text-align: center;
}
#title {
  background-color: #ff4c68;
text-align: left;
}

.container-fluid {
padding: 3% 15% 7%;
}
                  /* Headings */

.Big-heading {
  color: white;
 font-size: 3.5rem;
 line-height: 1.5;
}

.section-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat-black", sans-serif;
  font-weight: 800;
}

p {
  color: #8f8f8f;
}


                  /* Navigation-Bar */
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-size: 1.875rem;
  font-family: 'Ubuntu', sans-serif;
}
.nav-item {
  padding: 0 12px;
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

                  /* Download Buttons */
.download-button {
margin: 5% 3% 5% 0;
}

                  /* Title-Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;

}

                 /* Features section */
#features {
  background-color: white;
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size:2rem;
}

.feature-box {
    padding: 5%;
}

.fas {
  color: #ef8172;
  padding: 20px;
}

.fas:hover {
  color: #ff4c68;
}

                  /* Testimonials-Section */
#testimonials {
  padding: 7% 15%;
  color: #ffffff;
  background-color: #ff4c68;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonials-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ff4c68;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

                    /* Pricing Section */
#pricing {
  padding: 100px;

}
.pricing-col{
  padding: 3% 1%;
}

.pricing-text{
font-size: 3rem;
line-height: 1.5;
}

.card{
  width:100%;
}
.card-deck {
padding-left: 200px;
}


                    /* CTA-Section */

#cta {
  background-color: #ff4c68;
  Width:100%;
  padding: 7% 15%;
}

                   /* Footer-Section */

#footer {
  background-color: white;
  Width:100%;
  padding: 7% 15%;
}

.social-icons {
  padding: 20px;
  color: black;
}

@media (max-width:1028px) {

  #title {
  text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
